<h1>Courses</h1>

{{#if courses.length}}
   {{#each courses}}
        {{title}}<br><a href="/courses/{{id}}">Open</a>
        <form action="/card/add" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <button class="btn btn-primary">Buy</button>
        </form>
   {{/each}}
{{else}}
    <p>None</p>
{{/if}}